* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;;
    background-color: rgba(47, 41, 109, 0.5);
}
.main-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    height: fit-content;
}
.display-container {
    display: flex;
    flex-direction: column;
}
.temp-result,
.query {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.temp {
    height: 1.5rem;
}
.temp-result > p {
    font-size: 1rem;
}
.query {
    height: 2.5rem;
}
.query > p {
    font-size: 2rem;
}